<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>


<h1 class="text-center headform">Add item Form</h1>
<form class="itemform" method="post" th:object="${video}" th:action="@{/saveVideo}" enctype="multipart/form-data" >
    <label>Title:</label>
    <input type="text" th:field="*{title}" name="title" required />
    <label>Video URL:</label>
    <input type="text" th:field="*{videoUrl}" name="videoURL" required>
    <input class="btn btn-info w-25" type="submit" value="add video">
</form>
<script th:src="@{/js/admin.js}" ></script>
</body>
</html>
