<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/header :: layout(~{::body})}">
<head>
    <title th:text="#{nav.title}"></title>
</head>
<body>
<h1 class="h3 mb-4 text-gray-800" th:text="#{nav.dashOverview}" >Dashboard Overview</h1>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stats-card card-primary">
            <div class="card-body">
                <i class="fa-solid fa-images card-icon text-primary"></i>
                <div class="card-text">
                    <div class="text-xs" th:text="#{nav.totalgalleries}">Total Galleries</div>
                    <h3 class="mb-0" th:text="${galleryLength}">0</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stats-card card-success">
            <div class="card-body">
                <i class="fa-solid fa-envelope card-icon text-success"></i>
                <div class="card-text">
                    <div class="text-xs" th:text="#{nav.totalmessages}">Total Messages</div>
                    <h3 class="mb-0" th:text="${contactLength}">0</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stats-card card-info">
            <div class="card-body">
                <i class="fa-solid fa-video card-icon text-info"></i>
                <div class="card-text">
                    <div class="text-xs" th:text="#{nav.totalvideos}">Total Videos</div>
                    <h3 class="mb-0" th:text="${videosLength}">0</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stats-card card-warning">
            <div class="card-body">
                <i class="fa-solid fa-users card-icon text-warning"></i>
                <div class="card-text">
                    <div class="text-xs" th:text="#{nav.totaluser}">Total Users</div>
                    <h3 class="mb-0" th:text="${users}">0</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card chart-card">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" th:text="#{nav.monthactive}">Monthly Activity Overview</h6>
    </div>
    <div class="card-body">
        <div class="chart-area" style="height: 300px;">
            <canvas id="dashboardChart"></canvas>
        </div>
    </div>
</div>

</body>
</html>
