<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add item Gallery</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="padding-left:0;">
<h1 class="text-center headform">Update Video</h1>
<form class="itemform" th:object="${video}" method="post" enctype="multipart/form-data" th:action="@{saveVideoAfterUpdate}">
    <input type="hidden" th:field="*{id}" />

    <input type="hidden" th:field="*{type.id}" />
<!--    <input type="hidden" name="typeId" th:value="${videoType.id}" />-->
    <input type="hidden" name="oldvideoURl" th:value="*{videoUrl}">
    <input class="cell" type="file" name="newvideoURL" accept="video/*"/>
    <input class="btn btn-info w-25" type="submit" value="update">
</form>
<a th:href="@{/seeVideos}" class="backto" >Go back to Gallery</a>
</body>
</html>