<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add item Gallery</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="padding-left:0;">
<h1 class="text-center headform">Update item Form</h1>
<form class="itemform" th:object="${updatedItem}" method="post" enctype="multipart/form-data" th:action="@{/saveUpdate}">
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
    <input type="hidden" th:field="*{id}" />
    <input class="cell" type="text" th:field="*{name}">
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          class="notvalid"/>
    <input class="cell" type="text" th:field="*{name_ar}">
    <span th:if="${#fields.hasErrors('name_ar')}"
          th:errors="*{name_ar}"
          class="notvalid"/>
    <input class="cell" type="text" th:field="*{name_ru}">
    <span th:if="${#fields.hasErrors('name_ru')}"
          th:errors="*{name_ru}"
          class="notvalid"/>

    <input type="hidden" name="oldimageURL" th:value="${updatedItem.path}">
    <input class="cell" type="file" name="newimageURL" accept="image/*"/>
    <input class="btn btn-info w-25" type="submit" value="update">
</form>
<a th:href="@{/gallery}" class="backto" >Go back to Gallery</a>
</body>
</html>
