<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>G</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body style="background-color: #eee;">

<th:block th:replace="~{fragments/header}"></th:block>


<section class="videos-container">
    <h1 class="heading">Our Videos</h1>
    <a th:href="@{/addvideoinvideotype/{typeId}(typeId=${TypeId})}" class="add">add new Video</a>
    <div class="box-container" >

        <div th:each="video : ${videos}" class="box" data-gallery-id="${item.id}">
            <video width="300" height="200" class="imgInAG" controls>
                <source th:src="@{${video.videoUrl}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div class="btns">
                <form method="post" th:action="@{/updateVideo(itemId=${video.id})}">
                    <input type="hidden" th:value="${video.id}">
                    <button type="submit" class="btn btn-info btn-sm">edit</button>
                </form>
                <form method="post" th:action="@{/deleteVideo(itemId=${video.id})}">
                    <input type="hidden" th:value="${video.id}">
                    <button type="submit" class="btn btn-danger btn-sm">delete</button>
                </form>
            </div>
        </div>
    </div>
</section>
<a th:href="@{/seeVideos}" class="backto" >Go back Videos</a>
<script th:src="@{/js/admin.js}" ></script>
<script th:src="@{/js/canvas.js}" ></script>

</body>
</html>